@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.bg-img {
    background-image: url(../assets/bg.png);
    /* background: linear-gradient( to top ,#FFF4DC , #FFFFFF); */
}

/* shared styles */
/* header styles */
.header {
    /* margin: 0px 141px 0px 141px;
    max-width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* nav styles */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 186px;
}

.logo-name {
    display: flex;
}

.nav-link {
    display: flex;
    gap: 32px;
}

.nav-link-btn {
    display: flex;
}

#nav-link-1 {
    color: #FEA301;
    font-size: 1.25rem;
    font-weight: 700;
}

#nav-link-2 {
    color: #01ACFD;
    font-size: 1.25rem;
    font-weight: 500;
}

#nav-link-3 {
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}

#nav-link-3 {
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}

#nav-link-4 {
    color: #5D58EF;
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-1 {
    border-radius: 12px;
    background-color: #FEA301;
    display: flex;
    width: 190px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;

}

/* banner syles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    margin-right: 50px;
}

.banner-header {
    max-width: 588px;
    max-height: 183px;
}

.banner-paragraph {
    max-width: 644px;
    max-height: 50px;
}

#btn-2 {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #111;
}

/* body styles */
main {
    margin: 0 140px;
    /* max-width: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.body-title-1 {
    margin: 60px 490px 80px 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700;
    width: 460.609px;
    height: 57.5px;
}

.curriculum {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 29px;

}


#curriculum-1,
#curriculum-2,
#curriculum-3 {
    padding: 53px 40px;
    display: flex;
    width: 367.805px;
    height: 476.784px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border: 1px solid #DEF5FF;
    border-radius: 20px;
    box-shadow: 0 0 30px 1px;
}

.curriculum-content {
    display: flex;
    max-width: 286px;
    max-height: 75px;
    flex-direction: column;
    justify-content: center;
    border-radius: 18.864px;

}

#curriculum-1 {
    border: 1px solid #DEF5FF;
    background: linear-gradient(#DEF5FF, rgba(255, 255, 255, 0.00)), #FFF;
    box-shadow: 0 0 30px 1px;
}

#curriculum-2 {
    border: 1px solid #FFF4DC;
    background: linear-gradient(#FFF4DC, rgba(255, 255, 255, 0.00)), #FFF;


}

#curriculum-3 {
    border: 1px solid #F2E8FF;
    background: linear-gradient(#EEE1FF, rgba(255, 255, 255, 0.00)), #FFF
}

/* story-section */
.stories {
    margin: 80px 0;
    display: flex;
    gap: 19px;
    flex: 1;
}

#story-1 {
    display: flex;
    flex-direction: column;
    max-width: 540.267px;
    max-height: 630.518px;
    border-radius: 16px;
    background: #FFF;
    gap: 62px;
}

.story-img {
    border-radius: 16px 16px 0 0;
}

.story-header {
    padding: 0px 100px 0px 38px;
}

.stories-description {
    padding: 0px 69px 0 38px;
}

.more-stories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.all-same {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.same-header {
    padding: 0px 54px 29px 0;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-3 {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    background-color: #111;
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}